<div class="about-me">
	<div class="about-me-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis turpis diam. Duis condimentum mauris ut suscipit
		pulvinar. Nunc sed est quis risus tincidunt dignissim. Duis sagittis arcu interdum enim aliquet faucibus. Mauris auctor
		lectus nisl, vel gravida lorem sollicitudin vel. Cras pharetra lectus tellus, non pretium nibh rutrum a. Aenean vel
		hendrerit nulla. Proin interdum nisi vitae feugiat venenatis. Aliquam erat volutpat. Vestibulum egestas imperdiet
		mattis. Ut vel massa aliquet, scelerisque urna et, commodo purus. Nulla rhoncus mauris mauris, a finibus arcu auctor
		laoreet.</p>
	</div>
	<div class="about-me-pic">
		<img class="about-me-img" src="../assets/img/AboutMe.jpg">
	</div>
</div>
