<div class="about-me">
	<div class="about-me-text">
		<p>I am a Front-End developer at GE Gas Power. I offer my team a point of view that takes into consideration both
      front-end and back-end perspectives. I lead daily discussions on making sure my team merges the data and business
      requirements together that transforms into a great user experience. I leverage analytical skills and paying strong
      attention to detail in order to develop the most efficient application for the users. I work closely with the UX
      designers to ensure that components are designed in a way that can be reusable across multiple modules and applications.
      This decreases future development time, which allows for more business requirements to be met for the customers.
      Aside from regular development work, I lead the way for my team to implement an automated testing suite that
      highlights reusability of testing steps for multiple scenarios. Ultimately, this improves code quality by
      increasing the depth and the scope of tests.</p>
	</div>
	<div class="about-me-pic">
		<img class="about-me-img" src="assets/img/AboutMe.jpg">
	</div>
</div>
