.about-me {
  // Web
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  // Mobile
  @media screen and (max-width: 719px){
    flex-direction: column;
  }

  .about-me-text {
    color: rgb(196, 215, 245);
    // Web
    @media screen and (min-width: 719px) {
      width: 38rem;
      margin-right: 4rem;
    }
    // Mobile
    @media screen and (max-width: 719px) {
      width: 20rem;
    }
  }

  .about-me-pic {
    width: 20rem;
    height: 25rem;
    // Mobile
    @media screen and (max-width: 719px) {
      margin: -5rem;
    }

    .about-me-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
