<div class="experience">
  <div class="timeline">
    <mat-drawer-container>
      <mat-drawer mode="side" opened>
        <mat-nav-list>
          <mat-list-item *ngFor="let event of events; let i = index"
                         class="experience-list-item-container" [ngClass]="{'experience-underline' : event.display}"
                         (click)="eventClicked(i)">
            <div>{{event.label}}</div>
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <div *ngFor="let event of events">
          <div class="event-display" *ngIf="event.display">
            <h3>{{event.title}}</h3>
            <p>{{event.content}}</p>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
