.experience {

  // Web
  .timeline-web {
    justify-content: center;
    display: flex;

    .mat-drawer-container {
      width: 75%;

      .mat-drawer {
        padding-left: 2rem;

        .mat-list-item {
          padding-top: 2rem;
          &:hover {
            color: rgb(253, 230, 101);
          }
        }

        .experience-underline {
          border-bottom: 1px solid;
          color: rgb(253, 230, 101);
        }
      }

      .mat-drawer-content {
        padding: 4.5rem 0 7.5rem 2rem;

        .event-display {
          padding: 2rem 1rem;
          text-align: center;
        }
      }
    }
  }

  // Mobile
  .timeline-mobile {
    padding: 1rem 1rem;

    .timeline-mobile-container {
      padding: 1.5rem 0;

      .timeline-mobile-label {
        color: rgb(253, 230, 101);
        text-align: center;
      }
      .timeline-mobile-info {
        text-align: center;
      }
    }
  }
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  display: inline;
  text-align: center;
}
