.projects {
  padding: 0;
  margin: 0;

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project {
      z-index: 0;
      position: relative;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
      // Web
      @media screen and (min-width: 856px) {
        padding: 2rem 4rem;
        flex: 0 50%;
        max-width: 35%;
      }
      // Mobile
      @media screen and (max-width: 856px) {
        max-width: 51%;
      }

      .mat-card-header {
        padding-bottom: .5rem;
        justify-content: center;

        .project-name {
          font-size: 22px;
          text-transform: uppercase;
          white-space: nowrap;
        }
      }

      .project-img {
        border-radius: 5%;
      }

      .mat-card-content {
        text-align: center;
        font-size: 15px;
        color: rgb(130, 146, 175);
        // Mobile
        @media screen and (max-width: 856px) {
          margin: 0 -5rem;
        }
      }
    }
  }
}
