.projects {
  padding: 0;
  margin: 0;

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project {
      max-width: 35%;
      flex: 0 50%;
      padding: 2rem 4rem;
      z-index: 0;
      position: relative;
      opacity: .9;
      &:hover {
        opacity: 1;
      }

      .mat-card-header {
        padding-bottom: .5rem;
        justify-content: center;

        .project-name {
          font-size: 20px;
        }
      }

      .mat-card-content {
        text-align: center;
      }
    }
  }
}
